table {
    width: 90%;
    border-collapse: collapse;
    font-size: 12px;
}
table th, table td {
    border: 1px solid #ddd;
    padding: 6px;
}
table th {
    background-color: #F2F2F2;
}
.center {
    text-align: center;
}